.main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  border: 1px solid rebeccapurple;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #00081c;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #00081c;
  color: gray;
}
