.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  transition: all .2s ease-in;
}

.chart {
  background-color: #202020;
  z-index: 2;
}

.buttonBox {
  display: flex;
  justify-content: center;
  position: absolute;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00081c;
  color: gray;
  border: 1px solid #00081c;
  font-size: 1.2rem;
  transition: all 0.2s ease;
  opacity: .7;
  z-index: 3;
  user-select: none;
}

.leftBtn {
  transform: translateX(-45px);
}

.rightBtn {
  transform: translateX(45px);
}

.button:hover {
  background-color: #202020;
  opacity: .9;
}

.moveLeft {
  transform: translateX(-200px);
}